/*
 * Sample Service Manager configuration for the ANC (Vassar) node. This file
 * is used to generate the service_manager.xml, active-bpel.xml, and
 * tomcat-users.xml files.  Currently both tomcat instances use 
 * identical tomcat-users.xml files.
 */

URL hexService = new URL('http://grid.anc.org:9080/password/hex?length=16')
URL passwordService = new URL('http://grid.anc.org:9080/password/safe?length=16')
def config = new ConfigSlurper().parse(new File('service-manager.properties').text)
Context {
	displayName = config.display.name ?: "Lappsgrid"
	serviceManagerCopyright = "Copyright ${new Date().format('yyyy')}"
	// This likely doesn't need to be changed unless BPEL is running
	// on a different machine.
	activeBpelServicesUrl = 'http://localhost:8081/active-bpel/services'

	// This value is inserted into the service_manager.xml and
	// active-bpel.xml files.
	activeBpelAppAuthKey = "${hexService.text}"

	// These values likely don't need to be changed.
	maxCallNest = 16
	atomicServiceReadTimeout = 30000
	compositeServiceReadTimeout = 30000

}

// The Tomcat configuration is used for both instances of tomcat.
// If you want different users for each instance you will have to
// edit the individual conf/tomcat-users.xml files.
Tomcat {
	rolename = 'serviceGridAdmin'
	username = config.tomcat.username ?: "tomcat"
	password = config.tomcat.password ?: passwordService.text
}

Database {
	name = 'langrid'
	table = 'langrid'
	username = 'langrid'
	password = passwordService.text
}

// Information for this node. Do all nodes in the LAPPS grid use the
// same grid ID?
Node {
	gridId = 'lapps'
	nodeId = config.node.id ?: "lapps"
	name = config.node.name ?: "Lappsgrid"
	url = "http://localhost:${config.node.port ?: '8080'}/service_manager"
	os = 'Unknown'
	cpu = 'Unknown'
	memory = 'Unknown'
	specialNotes = 'None.'
}

// Information for the system operator.
Operator {
	userId = 'operator'
	initialPassword = 'operator'
	organization = config.organization ?: "The Language Application Grid"
	responsiblePerson = config.person ?: "Keith Suderman"
	emailAddress = config.email ?: "suderman@cs.vassar.edu"
	homepageUrl = config.url ?: "http://www.lappsgrid.org"
	address = config.address ?: "New York"
}

Auth {
	authIps = '127.0.0.1'
	// Key inserted into bpr/langrid.ae.properties.
	authKey = "${hexService.text}"
}
